    <!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boy</title>
    <link rel="shortcut icon" href="http://i.imgur.com/CKJcV9q.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body style="background-color: #dbdbdb">
<div class="w3-container w3-margin-auto" style="width: 50%;height: 50%;margin: auto">
    <form style="border: none">
        <div class="imgcontainer">
            <img src="{{ image }}" alt="Avatar" style= width:90% >
        </div>
        <div class="container">
            <label><b>Description: {{ description }}</b></label>

            <div class="clearfix" style="margin: 5px">
                <a href="/boy_page" type="submit" style=" background-color: #4784ff" class="w3-btn">Next</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
