<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TraiXinhGaiDep</title>
    <link rel="shortcut icon" href="http://i.imgur.com/CKJcV9q.jpg">
    <link rel="stylesheet" type= "text/css" href="../static/w3css.css">
    <link rel="stylesheet" type="text/css" href="../static/homepg.css">
</head>
<body>
<div class="w3-container" style="width: 80%;margin: auto">
    <div class="w3-row">
        <div class="w3-col m12">
            <img src="../static/image/image%201.png" style="display: block;width: 100%;height: auto;margin: 20px auto">
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col m12">
            <div class="w3-bar w3-blue-grey" style="margin: auto;width: 100%">
                <a href="/homepage" class="w3-btn w3-round-large w3-bar-item w3-button w3-mobile" style="width: 20%">Homepage</a>
                <a href="/boy_page" class="w3-btn w3-round-large w3-bar-item w3-button w3-mobile" style="width: 20%">Boy</a>
                <a href="#" class="w3-btn w3-round-large w3-bar-item w3-button w3-mobile" style="width: 20%">Girl</a>
                <a target="_blank" class="w3-btn w3-round-large w3-bar-item w3-button w3-mobile" href="/login" style="width: 20%">Login</a>
                <a target="_blank" class="w3-btn w3-round-large w3-bar-item w3-button w3-mobile" href="/sign_up" style="width: 20%">Sign up</a>
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col m6 w3-panel w3-padding-16">
            <img src="../static/image/boy.jpg" style="width: 100%">
        </div>
        <div class="w3-col m6 w3-panel w3-padding-16">
            <img src="../static/image/girl.jpg" style="width: 100%">
        </div>
    </div>
</div>
</body>
</html>