<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <form class="w3-container w3-third " method="post" enctype="multipart/form-data">
        <label>Username</label>
        <input class="w3-input" type="text" name="username">

        <label>Password</label>
        <input class="w3-input" type="password" name="password">

        <a href="/login" class="w3-btn w3-red">Bấm để reset</a>
        <input type="submit" class="w3-btn w3-aqua" value="Login">
        <a href="/login" class="w3-btn w3-red">update</a>
    </form>
</body>
</html>