<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="http://i.imgur.com/CKJcV9q.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type= "text/css" href="../static/w3css.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="w3-container w3-margin-auto" style="width: 50%;height: 50%;margin: auto">
    <form action="/action_page.php">
        <div class="imgcontainer">
            <img src="http://alobooking.vn/public/frontend/img/avatar.jpeg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

</body>
</html>
