<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="http://i.imgur.com/CKJcV9q.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
 <form class="w3-container w3-third " method="post" enctype="multipart/form-data" style="margin: 100px 0px 0px 550px">
        <div class="imgcontainer">
            <img src="http://alobooking.vn/public/frontend/img/avatar.jpeg" alt="Avatar" class="avatar" >
        </div>

        <label>Username</label>
        <input class="w3-input" type="text" name="username">

        <label>Password</label>
        <input class="w3-input" type="password" name="password">

        <input type="submit" class="w3-btn w3-round-large area" style="margin: 50px 0px 50px 100px" value="Login">
        <a  href="/sign_up" class="w3-btn w3-round-large area" style="margin: 50px 0px 50px 130px; text-align: center">Sign_up</a>
    </form>
</body>
</html>