<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="shortcut icon" href="http://i.imgur.com/CKJcV9q.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="w3-container w3-margin-auto" style="width: 50%;height: 50%;margin: auto">
    <form action="/action_page.php" style="border:1px solid #ccc">
        <div class="imgcontainer">
            <img src="http://alobooking.vn/public/frontend/img/avatar.jpeg" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <label><b>Images</b></label>
            <input type="file" accept="image/*" name="images">

            <div>
                <input type="radio" name="gender" value="male" checked> Male<br>
            </div>
            <div>
                <input type="radio" name="gender" value="female"> Female<br>
            </div>
            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
                <button type="button" class="cancelbtn">Cancel</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
