<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="shortcut icon" href="http://i.imgur.com/CKJcV9q.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<form class="w3-container w3-third " method="post" enctype="multipart/form-data" style="margin: 100px 0px 0px 550px">
    <div class="imgcontainer">
        <img src="http://alobooking.vn/public/frontend/img/avatar.jpeg" alt="Avatar" class="avatar" >
    </div>
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Name" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <label><b>Description</b></label>
    <input type="text" placeholder="Description" name="description" required>

    <div>
        <input type="radio" name="gender" value="male" checked> Male<br>
    </div>
    <div>
        <input type="radio" name="gender" value="female"> Female<br>
    </div>

    <input type="submit" class="w3-btn w3-round-large area" style="margin: 10px 99px 10px" value="Sign up">
    <a  href="/login" class="w3-btn w3-round-large area" style="text-align: center;margin: 10px 67px 10px">Login</a>
</form>
</body>
</html>