<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upadte image</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <form class="w3-container" method="post" enctype="multipart/form-data">
        <label>Title</label>
        <input class="w3-input" type="text" name="title">

        <label>New_source</label>
        <input class="w3-input" type="text" name="new_source">

        <label>New_description</label>
        <input class="w3-input" type="text" name="new_description">

        <input type="submit" class="w3-btn w3-teal" value="Submit">
    </form>
</body>
</html>