* {
            box-sizing: border-box;
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
            }
            body {
             font-family: Helvetica,Arial,sans-serif;
             font-size: 18px;
             line-height: 1em;
             width: 1170px;
             height: 1500px;
                margin: 0px;
            }
        #menu ul{
            background: hotpink;
            list-style-type: none;
            text-align: center;
            width: 400px;
            height: 400px;
        }
        /*#menu li {*/
            /*color: #f1f1f1;*/
            /*display: inline-block;*/
            /*width: 240px;*/
            /*height: 50px;*/
            /*line-height: 50px;*/
        /*}*/
        #menu a {
            text-decoration: none;
            color: #fff;
            display: block;
        }
        #menu a:hover {
            background: #5cf442;
            color: #333;
        }
        #login ul{
            background: cornflowerblue;
            list-style-type: none;
            text-align: center;
        }
        /*#login li {*/
            /*color: #f1f1f1;*/
            /*display: inline-block;*/
            /*width: 120px;*/
            /*height: 50px;*/
            /*line-height: 50px;*/
        /*}*/
        #login a {
            text-decoration: none;
            color: #fff;
            display: block;
        }
        #hm{
            width: 50px;
        }
        #login a:hover {
            background: #F1F1F1;
            color: #333;
        }
        .right{
         float: right;
         width: 308px;
         margin-right: 27px;
        }
        .left {
         float: left;
         width: 808px;
         margin-left: 30px;
        }