body{
    background-color: #e5efff;
    background-repeat: repeat-x;
    color: #f1f1f1;
}
a {

    display: block;
    width: 200px;
    height: 53px;
    margin: auto;

}

.a_style{
    background-color: #1b68a9;
    height: 53px;
    text-align: center;
    display: inline-block;
    padding-left: 50px;
    margin: 0px 300px;
    padding-right: 50px;
}
a:hover{
    background-color: #f1f1f1;
    color: red;
    height: 53px;
    width: 200px;
    font-size: medium;
}
.image{
    display: inline-block;
}
#wrapper{
    text-align: left;
    margin: auto;
}